<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>

	<meta charset='utf-8'>


<meta content='width=device-width,initial-scale=1,maximum-scale=1' name='viewport'>
<meta content='ShuttleCat is with you all the time.' name='description'>


<title>新闻 | Google Camp</title>
<link href='http://115.28.28.165/img/ShuttleCatLOGOMiniC.png' rel='icon' type='images/ico'>
  <meta charset="UTF-8">
    <link href="http://7xlk6d.com1.z0.glb.clouddn.com/sticky-footer-navbar.css" rel="stylesheet">

  <link rel="stylesheet" href="http://7xlk6d.com1.z0.glb.clouddn.com/bootstrap.min.css">
  <script src="http://7xlk6d.com1.z0.glb.clouddn.com/jquery.min.js"></script>
  <script src="http://7xlk6d.com1.z0.glb.clouddn.com/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand"> Google Camp</a>
        </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/reg">社员注册 <span class="sr-only">(current)</span></a></li>
        <li><a href="/activities">活动通知</a></li>
        <li><a href="/ingress">Ingress</a></li>
        <li class="active"><a href="/news">新闻</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
      </div>

    </nav>

    <div class="container" style="margin-bottom: 60px;">
      <div class="row">
        <div class="page-header">
          <h2>Google Camp <small>大新闻</small></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">第一次茶话会</h3>
              </div>
              <div class="panel-body">
                <img src="http://7xlk6d.com1.z0.glb.clouddn.com/logo.png" width="700" />
<h3><p>&nbsp;&nbsp;&nbsp;&nbsp;2015年10月25日，Google Camp的成员们期待已久的茶话会终于又要开始了。这次茶话会经过中心组的精心筹划，在Google公司和电路综合租住创新实践基地和北邮社团联合会的帮助下，顺利的借到了教室并且完成了活动的一切准备工作。
</p><p>&nbsp;&nbsp;&nbsp;&nbsp;
当日18：00，社长带领着老社员们潜入了教三317，开始逐步驱散在教室里自习的人，并开始了会场的布置工作。须臾，大家各司其职，完成了会场的布置，随着新社员渐渐入场，大家便开始热烈的交流了起来。10分钟后，副社长同学忍痛打断了大家的交流，茶话会正式开始。
</p><p>&nbsp;&nbsp;&nbsp;&nbsp;
首先，由副社长同学介绍Google Camp以往的活动历史，大家一边津津有味的吃着零食喝着茶一边畅想着今后将要一同参加的活动。接下来，由社长同学介绍Google与其相关信息，大家更深刻的了解了Google公司的文化，以及Google相关的产品信息。在社长同学完成了大体的介绍之后，同学们展开了深入的讨论，并请出了大神Cong同学为大家进行答疑。活动的最后，大家在积极讨论的同时，一起在后面Google Camp和横幅下进行了合影。，最后，由副社长同学组织大家清理教室。
</p><img src="http://7xlk6d.com1.z0.glb.clouddn.com/IMG_9083.jpg" width="700" /><p>&nbsp;&nbsp;&nbsp;&nbsp;
室内活动之后，Google Camp Ingress分部进行了BUPT Ingress起八活动。大家淋着小雨，进行了一次短暂并且浪漫的起八。（不知道ingress是什么的同学请自行忽略。）
</p></h3>
              </div>
          </div>


        </div>
      </div>


    </div>


          <footer class="footer">
      <div class="container">
        <p class="text-muted">2006-2015©BUPT Google Camp</p>
      </div>
    </footer>
</body>
</html>